
@{
    ViewBag.Title = "Stock";
    ViewBag.PageName = "Stock";
}

<div class="right_col" role="main">
    <br />
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Valor de Artigos em Stock </h2>
                    <ul style="" class="nav navbar-right panel_toolbox">
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="echart_line" style="height:350px;"></div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="row ">
        <div id="dashboard_custo_produto" class="col-md-6 col-sm-12 col-xs-12 cursor-pointer">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Quantidades por Artigos </h2>
                    <ul style="" class="nav navbar-right panel_toolbox">
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="echart_pie_quantidadeArtigo" style="min-height:350px;"></div>

                </div>
            </div>
        </div>

        <div id="dashboard_gasto_fornecedor" class="col-md-6 col-sm-12 col-xs-12 cursor-pointer">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Valor por Artigos </h2>
                    <ul style="" class="nav navbar-right panel_toolbox">
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li><a> </a></li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div id="echart_pie2_valorArtigo" style="min-height:350px;"></div>

                </div>
            </div>
        </div>
    </div>
    <br />

</div>
